.polandMap {
  width: 100%;
  path,
  circle {
    transition: all 1s;
    transform-origin: 50% 50%;
  }
  path:hover,
  circle:hover {
    transform: scale(1.01);
    // stroke: #d44828 !important;
    stroke-width: 10px;
    stroke-linejoin: round;
    fill: #d44828 !important;
    cursor: pointer;
  }
}
